<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <select class="form-control">
        <option>10</option>
        <option>25</option>
        <option>50</option>
      </select>
    </div>
  </div>
  <div class="col-md-6">
  </div>  
  <div class="col-md-3">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-striped">
      <tr>
        <th>
          <input type="checkbox">
        </th>
        <th>ID</th>
        <th>Room Name</th>
        <th>Price</th>
        <th>Status</th>
        <th>Action</th>

      </tr>
      <tr *ngFor="let r of roomList" >
         <td>
          <input type="checkbox">
        </td> 
        <td>{{ r.id }}</td>
        <td>{{ r.roomName }}</td>
        <td>{{ r.price }}</td>
        <td>{{ r.status }}</td>
        <td>
          <button class="btn btn-primary" (click)="booking(r.id)" >Booking</button>
        </td>
      </tr>
    </table>
  </div>  
</div>
<div class="row">
  <div class="col-md-3">
    <button class="btn btn-danger">Delete Selected</button>
  </div>
</div>